{% extends 'base.html' %}
{% load static %}  
 
{% block content %}
<main class="site-content">
    <div class="page_header d-flex align-items-center">
        <div class="container">
            <section>
                <h2>Contact Us</h2>
                <div class="breadcrumbs">
                    <a href="#">Home</a>
                    <span>Contact</span>
                </div>
            </section>
        </div>
    </div><!-- /.page_header -->
    <div class="contact-area">
        <div class="the_contacts">
            <div class="container-lg">
                <div class="row">
                    <div class="col-md-4">
                        <div class="the_contact clearfix wow slideInUp">
                            <i class="icofont-ui-call"></i>
                            <section>
                                <h3>Phone:</h3>
                                <p>+00 869 468 937</p>
                                <p>+88 364 792 349</p>
                            </section>
                        </div>
                    </div>
                    <div class="col-md-4 mt-3 mt-md-0">
                        <div class="the_contact clearfix wow slideInUp">
                            <i class="icofont-envelope-open"></i>
                            <section>
                                <h3>Email:</h3>
                                <p>support2@gmail.com</p>
                                <p>medicust@gmail.com</p>
                            </section>
                        </div>
                    </div>
                    <div class="col-md-4 mt-3 mt-md-0">
                        <div class="the_contact clearfix wow slideInUp">
                            <i class="icofont-google-map"></i>
                            <section>
                                <h3>Address:</h3>
                                <p>4944 Winchell Rd</p>
                                <p>Mantua, Ohio(OH), 44255</p>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="section-header text-center col-xl-7">
                    <h2>Interested in discussing? Contact Now.</h2>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat sunt culpa officia deserunt mollit anim est laborum.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <form class="d-flex flex-wrap justify-content-between contact-form">
                        <div class="inputs">
                            <input type="text" placeholder="Name:">
                            <input type="email" placeholder="Email:">
                            <input type="text" placeholder="Phone:">
                        </div>
                        <div class="text-area text-center">
                            <textarea placeholder="Message:"></textarea>
                            <button type="submit" class="theme-btn">
                                Send Message <i class="icofont-arrow-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=1300&amp;height=400&amp;hl=en&amp;q=4944 Winchell Rd  Mantua, Ohio(OH), 44255&amp;t=&amp;z=10&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.kokagames.com/fnf-friday-night-funkin-mods/">FNF Mods</a></div><style>.mapouter{position:relative;text-align:right;width:1300px;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:1300px;height:400px;}.gmap_iframe {width:1300px!important;height:400px!important;}</style></div>
       
    </div>  
</main><!-- /.site-content -->
 
 
{% endblock %}
 
