{% extends 'base.html' %}
{% load static %}  
 
{% block content %}
 
<main class="site-content">
    <div class="page_header d-flex align-items-center">
        <div class="container">
            <section>
                <h2>Careers</h2>
                <div class="breadcrumbs">
                    <a href="#">Home</a>
                    <span>Careers</span>
                </div>
            </section>
        </div>
    </div><!-- /.page_header -->
    <div class="service_single">
        <div class="container">
            <div class="row justify-content-xl-between">
                 <div class="col-xl-7">
                    <div class="single_service_content">
                          <div class="service_thumbnail careers_thumbnail">
                           <h6 style="color: #333; font-size: 16px; font-weight: 700;  padding-bottom: 10px;">Eye Specialist Doctor - Ayurveda</h6>
                            <div class="row">
                               <div class="col-md-6">
 
                                 <p>Jiva Ayurveda</p>  
                               </div>
                               <div class="col-md-4">
                                  <p>3.8 <i class="icofont-star"></i>(312 Reviews)</p>
                               </div>
                           </div>
                         
                           <div class="row">
                               <div class="col-md-4">
                                 <p><i class="icofont-envelope-open"></i>2-15 Yrs</p>  
                               </div>
                               <div class="col-md-4">
                                   <p><i class="icofont-arrow-right"></i>Not disclosed</p>
                               </div>
                               <div class="col-md-4">
                                   <p><i class="icofont-google-map"></i>Faridabad</p>
                               </div>
                           </div>
                            <p><i class="icofont-double-right"></i>MS in Shalkya tantra will be preferred</p>
                            <div class="row">
                               <div class="col-md-4">
                                 <p class="pclass">Date</p>  
                               </div>
                               <div class="col-md-4">
 
                               </div>
                               <div class="col-md-4">
                                <div class="container mt-3">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Apply Now</button>
                              <div class="modal fade" id="myModal">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                 
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                      <h4 class="modal-title">Application Forms</h4>
                                      <button type="button" class="close" data-dismiss="modal">×</button>
                                    </div>
                                   
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                    <div class="row justify-content-center">
                            <div class="col-xl-10">
                           <form class="d-flex flex-wrap justify-content-between contact-form">
                             <div class="inputs">
                              <input type="text" placeholder="Name:">
                              <input type="email" placeholder="Email:">
                              <input type="text" placeholder="Phone:">
                              <input type="text" placeholder="Subject:">
                              <input type="file" id="myFile" name="filename">
                              <button type="submit" class="themebtnsubmit">Submit</button>
                    </div>
                    </form>
                </div>
            </div>
            </div>
            </div>
            </div>
             </div>
            </div>
            </div>
            </div>
            </div>
                           <div class="service_thumbnail careers_thumbnail">
                           <h6 style="color: #333; font-size: 16px; font-weight: 700;  padding-bottom: 10px;">Eye Specialist Doctor - Ayurveda</h6>
                            <div class="row">
                               <div class="col-md-4">
 
                                 <p>Jiva Ayurveda</p>  
                               </div>
                               <div class="col-md-4">
                                  <p>3.8 <i class="icofont-star"></i>(312 Reviews)</p>
                               </div>
                           </div>
                         
                           <div class="row">
                               <div class="col-md-4">
                                 <p><i class="icofont-envelope-open"></i>2-15 Yrs</p>  
                               </div>
                               <div class="col-md-4">
                                   <p><i class="icofont-arrow-right"></i>Not disclosed</p>
                               </div>
                               <div class="col-md-4">
                                   <p><i class="icofont-google-map"></i>Faridabad</p>
                               </div>
                           </div>
                            <p><i class="icofont-double-right"></i>MS in Shalkya tantra will be preferred</p>
                            <div class="row">
                               <div class="col-md-4">
                                 <p class="pclass">Date</p>  
                               </div>
                               <div class="col-md-4">
 
                               </div>
                               <div class="col-md-4">
                                <div class="container mt-3">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Apply Now</button>
                              <div class="modal fade" id="myModal">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                 
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                      <h4 class="modal-title">Application Forms</h4>
                                      <button type="button" class="close" data-dismiss="modal">×</button>
                            </div>
                                     <!-- Modal body -->
                            <div class="modal-body">
                            <div class="row justify-content-center">
                            <div class="col-xl-10">
                           <form class="d-flex flex-wrap justify-content-between contact-form">
                             <div class="inputs">
                              <input type="text" placeholder="Name:">
                              <input type="email" placeholder="Email:">
                              <input type="text" placeholder="Phone:">
                              <input type="text" placeholder="Subject:">
                              <input type="file" id="myFile" name="filename">
                              <button type="submit" class="themebtnsubmit">Submit</button>
                                 </div>
                                </form>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                <div class="service_thumbnail careers_thumbnail">
                           <h6 style="color: #333; font-size: 16px; font-weight: 700;  padding-bottom: 10px;">Eye Specialist Doctor - Ayurveda</h6>
                            <div class="row">
                               <div class="col-md-4">
 
                                 <p>Jiva Ayurveda</p>  
                               </div>
                               <div class="col-md-4">
                                  <p>3.8 <i class="icofont-star"></i>(312 Reviews)</p>
                               </div>
                           </div>
                         
                           <div class="row">
                               <div class="col-md-4">
                                 <p><i class="icofont-envelope-open"></i>2-15 Yrs</p>  
                               </div>
                               <div class="col-md-4">
                                   <p><i class="icofont-arrow-right"></i>Not disclosed</p>
                               </div>
                               <div class="col-md-4">
                                   <p><i class="icofont-google-map"></i>Faridabad</p>
                               </div>
                           </div>
                            <p><i class="icofont-double-right"></i>MS in Shalkya tantra will be preferred</p>
                            <div class="row">
                               <div class="col-md-4">
                                 <p class="pclass">Date</p>  
                               </div>
                               <div class="col-md-4">
 
                               </div>
                               <div class="col-md-4">
                                <div class="container mt-3">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Apply Now</button>
                              <div class="modal fade" id="myModal">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                 
                                    <!-- Modal Header -->
                                    <div class="modal-header text-center">
                                      <h4 class="modal-title">Application Forms</h4>
                                      <button type="button" class="close" data-dismiss="modal">×</button>
                                    </div>
                                   
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                    <div class="row justify-content-center">
                            <div class="col-xl-10">
                           <form class="d-flex flex-wrap justify-content-between contact-form">
                             <div class="inputs">
                              <input type="text" placeholder="Name:">
                              <input type="email" placeholder="Email:">
                              <input type="text" placeholder="Phone:">
                              <input type="text" placeholder="Subject:">
                              <input type="file" id="myFile" name="filename">
                              <button type="submit" class="btn btn-primary themebtnsubmit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
 
            </div>
            <div class="pagination">
              <a href="#">&laquo;</a>
              <a class="active" href="#">1</a>
              <a href="career.html">2</a>
             
              <a href="#">&raquo;</a>
            </div>
                           <!--<div class="service_thumbnail" style="height: 200px; padding-left: 30px; padding-right: 20px; padding-top: 30px; box-shadow:0 1px 2px 0 rgb(0 106 194 / 20%); border: 1px solid #ebf0f6; font-size: 18px; font-family: roboto; border-radius: 14px;">
                           <h5>Eye Specialist Doctor - Ayurveda</h5>
                           <h6>Jiva Ayurveda3.8(312 Reviews)</h6>
                           <div class="row">
                               <div class="col-md-4">
                                 <p style="padding-left: 20px;">2-15 Yrs</p>  
                               </div>
                               <div class="col-md-4">
                                   <p>Not disclosed Faridabad</p>
                               </div>
                           </div>
                   
                    </div>-->
                       
 
                           <!--
                        <h2 class="the_service_title">Dental Implant Surgery</h2>
                        <p>It is a long established fact that a reader will be distracted by the readable cont ent of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making. It is a long established fact that a reader will be distracted by the its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making.</p>
                        <p>It is a long established fact that a reader will be distracted by the readable cont ent of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making.</p>
                        <ul>
                            <li>Free Consultation</li>
                            <li>Fitness Assessment</li>
                            <li>24 Hours Service</li>
                            <li>Discounts & Updates</li>
                        </ul>
                        <h3>Laboratory Tests For Dental Surgery.</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable cont ent of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making. It is a long established fact that a reader will be distracted by the its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making.</p>
                        <p>It is a long established fact that a reader will be distracted by the readable cont ent of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making.</p>
                        <h3>Professional Care Provider</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable cont ent of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making.</p>-->
                        <!--<div class="row mt-xl-5 mt-3 mb-125">
                            <div class="col-lg-4 col-sm-6">
                                <div class="team-member">
                                    <div class="member-photo">
                                        <img src="img/team/01.jpg" alt="Team Member Name" />
                                    </div>
                                    <h2><a href="#">Chriss Taylor</a></h2>
                                    <p><a href="#">Internal Medicine</a></p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="team-member">
                                    <div class="member-photo">
                                        <img src="img/team/02.jpg" alt="Team Member Name" />
                                    </div>
                                    <h2><a href="#">Jonshon Aliven</a></h2>
                                    <p><a href="#">Internal Medicine</a></p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="team-member">
                                    <div class="member-photo">
                                        <img src="img/team/03.jpg" alt="Team Member Name" />
                                    </div>
                                    <h2><a href="#">Trikien Munaska</a></h2>
                                    <p><a href="#">Internal Medicine</a></p>
                                </div>
                            </div>
                        </div>--->
                    </div>
                </div>
                <div class="col-xl-4 pl-xl-0 asideRightFixed">
                    <aside>
                        <div class="service-widget">
                            <h2>All Departments:</h2>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="icofont-double-right"></i>
                                        Primary Health Care
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icofont-double-right"></i>
                                        Pediatric Clinic
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icofont-double-right"></i>
                                        Gynaecological Clinic
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icofont-double-right"></i>
                                        Outpatient Surgery
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#">
                                        <i class="icofont-double-right"></i>
                                        Primary Health Care
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icofont-double-right"></i>
                                        Ophthalmology Clinic
                                    </a>
                                </li>
                            </ul>
                        </div>
 
                       <!--- <div class="service-widget widget-download-files">
                            <h2>Documents</h2>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="icofont-file-pdf"></i>
                                        Download Pdf.
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icofont-file-document"></i>
                                        Download Doc.
                                    </a>
                                </li>
                            </ul>
                        </div>--->
                    </aside>
                </div>
 
            </div>
 
        </div>
    </div>
     
</main><!-- /.site-content -->
 
{% endblock %}
 
 
 
           
 
