{% extends 'base.html' %}
{% load static %}  
 
{% block content %}
<main class="site-content">
    <div class="page_header5 d-flex align-items-center">
        <div class="container">
            <section>
                <h2>Partners</h2>
                <div class="breadcrumbs">
                    <a href="{% url 'home'%}">Home</a>
                    <span>Partners</span>
                </div>
            </section>
        </div>
    </div><!-- /.page_header -->
    <div class="heading text-centert">
         <h1 class="textheadingsize">Our Partners</h1>
    </div>
    <div class="about-section">
        <div class="container">
                     
           <div class="text-center">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{% static 'img/imgpr1.jpg'%}" class="rounded">
                   
                       
                        </div>
                        <div class="col-md-4">
                            <img src="{% static 'img/imgpr2.jpg'%}" alt="Resources" class="imgrow1">
                           
                        </div>
                        <div class="col-md-4">
                            <img src="{% static 'img/imgpr.jpg'%}" alt="Resources" class="imgrow1">
                             
                        </div>
                    </div>
                </div>
        </div>
             
                 
               
       
           
       
    </div><!-- /.about-section -->
      <div class="mission-vission">
            <div class="container">
         <div class="container-fluid stat-container orange">
                <div class="row textcolorrow">
                    <div class="col-md-2 imgpartner">
                         <img src="{% static 'img/gg.jpg'%}" alt="Site Logo">
                    </div>
                    <div class="col-md-7">
                        <h3 class="toppadding">Body Control Pilates</h3>
                       
                        <span>We are committed to offering high-quality evidence-based treatments for all types of body aches and pains at our London clinic located in Covent Garden. All our therapists and team are HPC registered and are members of the Chartered Society of Physiotherapy. Our skilled staff possesses a minimum experience of five years in sports and musculoskeletal physiotherapy..</span>
                    </div>
                    <div class="col-md-3">
                        <a href="https://www.bodycontrolpilates.com/" target="_blank"><button class="btn btn-primary row">Read More</button></a>
                    </div>
 
                </div>
                 <div class="row textcolorrow">
                    <div class="col-md-2 imgpartner">
                         <img src="{% static 'img/gg.jpg'%}">
                    </div>
                    <div class="col-md-7">
                        <h3 class="toppadding">Bkh Pilates</h3>
                       
                        <span>We are committed to offering high-quality evidence-based treatments for all types of body aches and pains at our London clinic located in Covent Garden. All our therapists and team are HPC registered and are members of the Chartered Society of Physiotherapy. Our skilled staff possesses a minimum experience of five years in sports and musculoskeletal physiotherapy..<span>
                    </div>
                    <div class="col-md-3">
                       <a href="https://www.bkhpilates.co.uk/" target="_blank"><button class="btn btn-primary row">Read More</button></a>
                    </div>
 
                </div>
                <div class="row textcolorrow">
                    <div class="col-md-2 imgpartner">
                         <img src="{% static 'img/gg.jpg'%}" alt="Site Logo">
                    </div>
                    <div class="col-md-7">
                        <h3 class="toppadding">Flawless Feet</h3>
                       
                        <span>We are committed to offering high-quality evidence-based treatments for all types of body aches and pains at our London clinic located in Covent Garden. All our therapists and team are HPC registered and are members of the Chartered Society of Physiotherapy. Our skilled staff possesses a minimum experience of five years in sports and musculoskeletal physiotherapy..</span>
                    </div>
                    <div class="col-md-3">
                       <a href="https://www.flawlessfeet.com/" target="_blank"><button class="btn btn-primary row">Read More</button></a>
                    </div>
 
                </div>
               <div class="row textcolorrow">
                    <div class="col-md-2 imgpartner">
                         <img src="{% static 'img/gg.jpg'%}" alt="Site Logo">
                    </div>
                    <div class="col-md-7">
                        <h3 class="toppadding">Shoulder Doctor</h3>
                       
                        <span>We are committed to offering high-quality evidence-based treatments for all types of body aches and pains at our London clinic located in Covent Garden. All our therapists and team are HPC registered and are members of the Chartered Society of Physiotherapy. Our skilled staff possesses a minimum experience of five years in sports and musculoskeletal physiotherapy..</span>
                    </div>
                    <div class="col-md-3">
                       <a href="https://www.shoulderdoctor.co.uk/" target="_blank"><button class="btn btn-primary row">Read More</button></a>
                    </div>
 
                </div>
                 
          </div>
                </div>
           
        </div><!-- /.mission-vission -->
    <br>
   
</main><!-- /.site-content -->
 
 
{% endblock %}
 
 
 
           
 
