{% extends 'base.html' %}
{% load static %}  
 
{% block content %}
<main class="site-content">
    <div class="page_header d-flex align-items-center">
        <div class="container">
            <section>
                <h2>Dental Implant Surgery.</h2>
                <div class="breadcrumbs">
                    <a href="{% url 'home'%}">Home</a>
                    <span>Departments</span>
                </div>
            </section>
        </div>
    </div><!-- /.page_header -->
 
    <div class="service_single">
        <div class="container">
            <div class="row justify-content-xl-between">
                <div class="col-xl-8">
                    <div class="single_service_content">
                        <div class="service_thumbnail">
                            <img src="img/service/01.jpg" alt="Service Title">
                        </div>
                        <h2 class="the_service_title">Dental Implant Surgery</h2>
                        <p>It is a long established fact that a reader will be distracted by the readable cont ent of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making. It is a long established fact that a reader will be distracted by the its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making.</p>
                        <p>It is a long established fact that a reader will be distracted by the readable cont ent of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making.</p>
                        <ul>
                            <li>Free Consultation</li>
                            <li>Fitness Assessment</li>
                            <li>24 Hours Service</li>
                            <li>Discounts & Updates</li>
                        </ul>
                        <h3>Laboratory Tests For Dental Surgery.</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable cont ent of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making. It is a long established fact that a reader will be distracted by the its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making.</p>
                        <p>It is a long established fact that a reader will be distracted by the readable cont ent of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making.</p>
                        <h3>Professional Care Provider</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable cont ent of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making.</p>
                        <div class="row mt-xl-5 mt-3 mb-125">
                            <div class="col-lg-4 col-sm-6">
                                <div class="team-member">
                                    <div class="member-photo">
                                        <img src="img/team/01.jpg" alt="Team Member Name" />
                                    </div>
                                    <h2><a href="#">Chriss Taylor</a></h2>
                                    <p><a href="#">Internal Medicine</a></p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="team-member">
                                    <div class="member-photo">
                                        <img src="img/team/02.jpg" alt="Team Member Name" />
                                    </div>
                                    <h2><a href="#">Jonshon Aliven</a></h2>
                                    <p><a href="#">Internal Medicine</a></p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="team-member">
                                    <div class="member-photo">
                                        <img src="img/team/03.jpg" alt="Team Member Name" />
                                    </div>
                                    <h2><a href="#">Trikien Munaska</a></h2>
                                    <p><a href="#">Internal Medicine</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 pl-xl-0 asideRightFixed">
                    <aside>
                        <div class="service-widget">
                            <h2>All Departments:</h2>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="icofont-double-right"></i>
                                        Primary Health Care
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icofont-double-right"></i>
                                        Pediatric Clinic
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icofont-double-right"></i>
                                        Gynaecological Clinic
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icofont-double-right"></i>
                                        Outpatient Surgery
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#">
                                        <i class="icofont-double-right"></i>
                                        Primary Health Care
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icofont-double-right"></i>
                                        Ophthalmology Clinic
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="service-widget widget-download-files">
                            <h2>Documents</h2>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="icofont-file-pdf"></i>
                                        Download Pdf.
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icofont-file-document"></i>
                                        Download Doc.
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
   
</main><!-- /.site-content -->
 
 
{% endblock %}
 
 
 
